{% extends 'base.html.twig' %}

{% block title %}Editer une Categorie{% endblock %}

{% block body %}
    <h1>Editer une Categorie</h1>

    {{ include('categorie_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_crud_index') }}">Retourner à la liste</a>

    {{ include('categorie_crud/_delete_form.html.twig') }}
{% endblock %}
