{% extends 'base.html.twig' %}

{% block title %}Hello AproposdenousController!{% endblock %}

{% block body %}
<section class="about_section layout_padding">
<div class="container  ">

  <div class="row">
    <div class="col-md-6 ">
      <div class="img-box">
        <img src="images/about-img.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            Nous sommes The District Food
          </h2>
        </div>
        <p>
         <h3> Découvrez une expérience culinaire inoubliable </h3> <br>
         <h4>À Propos de Nous </h4><br>

         "The District Food" est bien plus qu\'un simple restaurant - c\'est une expérience gastronomique qui célèbre la diversité des saveurs, l\'art de la cuisine et l\'ambiance chaleureuse. Situé au cœur de [Nom de la Ville], notre établissement est ancré dans le tissu dynamique de cette région, reflétant son énergie et sa diversité.<br><br>
         <h4>Notre Cuisine</h4><br>
         
         Au "The District Food", nous sommes fiers de présenter une cuisine qui mélange habilement les traditions culinaires locales et internationales. Notre menu offre une variété de plats exquis, préparés avec des ingrédients frais et de haute qualité. Que vous soyez amateur de cuisine classique ou aventurier culinaire, notre menu saura satisfaire toutes les papilles.<br><br>
         <h4>Ambiance Accueillante</h4><br>
         
         Notre restaurant offre une atmosphère accueillante et élégante, idéale pour des repas en famille, entre amis ou même des rendez-vous d\'affaires. Que ce soit pour un déjeuner décontracté, un dîner romantique ou une célébration spéciale, "The District Food" crée l\'ambiance parfaite pour toutes les occasions.
        
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
