{% extends 'base.html.twig' %}

{% block title %}Editer un Plat{% endblock %}

{% block body %}
    <h1>Editer un Plat</h1>

    {{ include('plat_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_plat_crud_index') }}">Retourner à la liste</a>

    {{ include('plat_crud/_delete_form.html.twig') }}
{% endblock %}
